 .Ankoli {
    color:orangered;
    background-color:brown;
    border-block:5px solid red;
}
.xyz {
   
    color: green;
    background-color: aqua;
    border: 1px dashed black;
    text-align: center
}
